/target/
/dist/
*.profraw
*.trace
*.pdb
/data/
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.pyright/
node_modules/
coverage/
.gradle/
build/
.swiftpm/
.build/
sdk/python/native/
sdk/python/dist/
sdk/typescript/native/
sdk/typescript/dist/
sdk/typescript/LICENSE-MIT
sdk/typescript/LICENSE-APACHE
