/target/
/dist/
*.profraw
*.trace
*.pdb
*.exe
*.qnb
*.f32
*.h5
/data/

__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.pyright/
node_modules/
coverage/
.gradle/
build/
.swiftpm/
.build/
sdk/python/native/
sdk/python/dist/
sdk/typescript/native/
sdk/typescript/dist/
sdk/typescript/LICENSE-MIT
sdk/typescript/LICENSE-APACHE
*.aux
*.bbl
*.blg
*.log
*.out
*.synctex.gz
*.fdb_latexmk
*.fls

